.slider {
    max-height: calc(80vh - 126px);
}

.slider__cover-image {
    min-height: 536px;
    max-height: calc(80vh - 126px);
    background-size: cover;
    background-position: 48% 42% !important;
    width: 100%;
}