
/*Editor global css*/
.ory-plugins-content-slate-container{
    font-size: 22px;
    line-height: 1.65;
}

.ory-plugins-content-slate-code{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.full-page-modal {
    width: 90% !important;
    padding: 0;
    top: 10;
    height: 60%;
}

.full-page-modal > .ant-modal-content {
    height: 100%;
    padding: 40px;
}

.steps-content {
    margin-top: 40px;
    min-height: 200px;
    text-align: center;
}

.ant-steps-item-custom .ant-steps-item-icon > .ant-steps-icon {
    line-height: 0;
}

.ant-card-grid-selected {
    box-shadow: 0px 0px 2px 5px #0090ff;
}
