.full-page-modal {
    width: 90% !important;
    padding: 0;
    top: 10;
    height: 60%;
}

.full-page-modal > .ant-modal-content {
    height: 100%;
    padding: 40px;
}

.steps-content {
    margin-top: 40px;
    min-height: 200px;
    text-align: center;
}

.ant-steps-item-custom .ant-steps-item-icon > .ant-steps-icon {
    line-height: 0;
}

.ant-card-grid-selected {
    box-shadow: 0px 0px 2px 5px #0090ff;
}
