@import '~antd/dist/antd.css';

.quill {
    border: none;
}

img {
    border: 5px;
}

.ql-editor {
    /* font-family: medium-content-serif-font, Georgia, Cambria, 'Times New Roman',
        Times, serif; */
    font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.7 !important;
    letter-spacing: 0;
    overflow-wrap: break-word !important;
    max-width: 100%;
    min-height: 1080px;
    padding-left: 20px;
    padding-right: 20px;
    /* color: rgba(0, 0, 0, 0.84); */
    /* color: #fff; */
    color: #fae9d0;
}
a {
    /*color: #f3a870;*/
    color: #cdff7f;
}

pre {
    line-height: 1.1;
    white-space: pre !important;
    font-family: monospace !important;
    font-size: 20px;
}

pre.ql-syntax {
    overflow-y: auto !important;
}

.ql-tooltip {
    z-index: 1300;
}
