body {
    font-family: medium-content-serif-font, Georgia, Cambria, 'Times New Roman',
    Times, serif;
}

.ql-container {
    font-family: medium-content-serif-font, Georgia, Cambria, 'Times New Roman',
    Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.7;
    letter-spacing: 0;
    overflow-wrap: break-word;
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
}

.ql-editor {
    line-height: 42px;
}
