:root {
    /* Default values for dark mode */
    --text-color: rgba(255, 255, 255, 0.89);
    --secondary-text-color: rgba(255, 255, 255, 0.5);
    --background: #262628;
    --main-text-size: 18px;
    --secondary-text-size: 14px;
}
